page-login {
    
     .content{
        background: linear-gradient(30deg, #229954 54%, #1E8449 54%);
     }
     .inputs{
        margin-top: 0px; 
        //border-bottom: solid 1px w;
        color: #fff;
        font-size: 20px;
     }

     .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
      }
      .buton{
        background-color:#4CAF50;
        color: #fff;
      }
      .imgIcon{
            border-radius: 50%;
            box-shadow: 0px 0px 8px 8px #fff;
            -webkit-box-shadow: 0px 0px 8px 8px #fff;
            height: 100%;
            width: 100%;
      }
}
