<ion-header>
  <ion-navbar color="colorapp"  hideBackButton="true">
    <ion-title>Iniciar sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding="true">
    <br><br>
    <ion-row>
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="assets/img/shop.png"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <br><br>
    <div >

      <form #signInForm="ngForm" (submit)="signIn()">
        <ion-list>
            <ion-item style="background-color:transparent;">
                <ion-input class="inputs"[(ngModel)]="userModel.email" id="email" type="email"  placeholder="Correo electrónico" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    required clearInput></ion-input>
            </ion-item>
            <br><br>
            <ion-item style="background-color:transparent;">
                <ion-input class="inputs" style="background-color:transparent;color: white;" type="{{type}}"  [(ngModel)]="userModel.password" type="password"  placeholder="Contraseña" name="password" required minlength="6"></ion-input>
                <button *ngIf="!showPass" ion-button clear  type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline" style="zoom: 2.0;color: white;"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear  type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline" style="zoom: 2.0;color: white;"></ion-icon></button>
            </ion-item>
            <br>
            <div padding-left padding-right padding-top>
                <button ion-button [disabled]="!signInForm.form.valid" block round class="buton">
                        <ion-icon name="person" style="padding: 10px;"></ion-icon>
                        Entrar
                </button>
            </div>
            <br>
             
            <div padding-left padding-right>
                    <p style="color: white;size:15px;">&iquest;No tiene Cuenta de Usuario?</p>
                    <ion-chip>
                            <ion-icon name="create" ></ion-icon> 
                            <ion-label color="secondary" (click)="register2()" style="color: white">Registrarse</ion-label>
                    </ion-chip>
                
            </div>
           
        </ion-list>
    </form>
    </div>
  </ion-content>

    