
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/img/campo.jpg');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
      color: white;
    }
   
  }
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
    height: 12vh;
  }
  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }

  }

  .md,
.ios,
.wp {
  .custom-alert-danger {
    > div {
      background:#8BC34A; // if you don't use .md, .ios, .mp initially, you'd have to use !important here.
      color: #fff;
     
      margin-bottom: 10px;
    }
    .alert-message{
        color: white;
    }
    button{
    background-color: #4CAF50;
     color: white;
    }
  }
}


 .action-sheet-group, {
  color: #fff;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 4px;
  background-color: #29B6F6;
  overflow: hidden;
}